<h3>Profile</h3>
<div class="row">
    <form action="/profile/add" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="userName" name="userName">
                <label for="userName">Username</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="carrer" name="carrer">
                    <option value="student" selected>Student</option>
                    <option value="professional">Professional</option>
                    <option value="business">Business</option>
                </select>
                <label for="carrer">Carrer</label>
            </div>
        </div>
        <div class="row col s6">
            <div class="input-field">
                <input type="file" id="ProfileImg" name="ProfileImg" class="filepond"  style="width: 100;">
                <label for="ProfileImg"></label>
            </div>
        </div>
        <div>
            <input type="submit" value="Save" class="btn">
        </div>
    </form>
</div>