<nav class="grey darken-4">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">STARTUP</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/projects">Project Ideas</a></li>
            {{!-- <li><a href="/developers">Developers</a></li>
            <li><a href="/investors">Developers</a></li> --}}
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>