<div class="row">
    <div class="circle z-depth-2">
    <img src="https://img.icons8.com/fluent/96/000000/decision-making.png"/>
    </div>
    <h3 id="header">STARTUP PATH</h3>
</div>
<div class="section z-depth-1">
    <img src="https://img.icons8.com/fluent/64/000000/demand.png"/>
    <h5>Post your Startup Ideas Public</h5>
</div>
<div class="section z-depth-1">
   <img src="https://img.icons8.com/fluent/64/000000/management.png"/>
    <h5>Interested Investors Invest In Your Project</h5>
</div>
<div class="section z-depth-1">
    <img src="https://img.icons8.com/color/64/000000/gender-neutral-user.png"/>
    <h5>Create Developer Profile</h5>
    <h6>Companies Will Hire You Based On Their Requirement</h6>
</div>
<div class="section z-depth-1">
   <img src="https://img.icons8.com/fluent/64/000000/futures.png"/>
   <h5>Project Post Reach Analysis</h5>
</div>
<div class="divider"></div>
<div class="section">
    {{!-- <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a> --}}
    <a href="/auth/register" class="btn btn-primary btn-block grey">Register</a>
    <br>
    <a href="/auth/login" class="btn btn-secondary btn-block">Login</a>
</div>
