<div class="row">
    <i class="large left material-icons">equalizer</i>
    <h2>STARTUP</h2>
</div>
<div class="section">
    <i><p class="lead">
         Create public profile<br>
        post your startup ideas<br>
          get your investors<br>
    </p>
    </i>
</div>
<div class="divider"></div>
<div class="section">
    {{!-- <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a> --}}
    <a href="/auth/register" class="btn btn-primary btn-block mb-2">Register</a>
    <a href="/auth/login" class="btn btn-secondary btn-block">Login</a>
</div>


