p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.img-small {
  width: 180px;
}

.rxn {
  cursor: pointer;

}

.material-icons:hover{
  transform: scale(1.2);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 32px;
  width: 32px;
  background: red;
  background: url("https://img.icons8.com/fluent/30/000000/star.png") no-repeat;
  margin-top: -15px;
  border-radius: 0 !important;
}
input[type=range]+.thumb {
  background-color: #fc891d !important;
}
input[type=range]+.thumb.active{
top: -35px !important;
}

#header {
  font-family: 'Black Ops One', cursive;
}

