<h3>Add Developer Profile</h3>
<div class="row">
    <form action="/developers" method="POST" class="col s12">
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>