<h3>Add Investor Profile</h3>
<div class="row">
    <form action="/investors" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="username" name="username">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="field" name="field">
                <label for="field">Source of Investment</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="linkedin" name="linkedin">
                <label for="linedin">LinkedIn</label>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>